
.stats-wrapper {
  display: flex;
  justify-content: space-around;
  
  
  h4 {
    color: $dark;
  }
}

.stats {
  display: flex;
}

.dark {
  color: $dark;
}

.turnScore-container {
  display: flex;
  justify-content: space-around;
  
  h3 {
    margin-bottom: 5px;
  }
  
  .total {
    color: $primary;
  }
}

.addScore { 
  &-container {
    margin-top: 20px
  }
  
  &-form {
    display: flex;
    justify-content: center;
  }
  
  &-item {
    width: 120px;
    margin: 0 18px;
  }
  
  &-input {
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-color: #00151d;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0.5rem 0rem;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #8ba0a9;
    border-radius: 0;

    &::placeholder {
      color: $dark;
    }
  
    &:focus {
      border-bottom: 1px solid $primary;
      outline: none;
    }
  }
}

.keyboard {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    // position: fixed;
    left: 0;
    right: 0;
    bottom: 25px;
    width: 90%;
    background-color: $darkest;
  }
  
  &-item {
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat";
    height: 60px;
    line-height: 1.6;
    color: $light-dark;
    
    &:active {
      background-color: $black;
    }
  }
}

.bottom-container {
  position: fixed;
  bottom: 10px;
  width: 100%;
  max-width: 500px;
  z-index: -1;
}

.background-solid {
  background-color: $black;
}