.cta-btn {
  border-radius: 6.25rem;
  padding: 0.5rem 1.25rem;
  margin: auto;
  width: 80%;
  max-width: 500px;
  position: fixed;
  bottom: 25px;
  font-weight: bold;
  text-align: center;
  left: 0;
  right: 0;
}

.application {
  h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #8ba0a9;
  }

  input {
    color: #fff;
    font-weight: 700;
    background-color: #00151d;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #8ba0a9;
    border-radius: 0px;

    &:hover {
      border-bottom: 1px solid $primary;
    }

    &:focus {
      border-bottom: 1px solid $primary;
      outline: none;
    }
  }

  &__form-input {
    width: 80%;
    margin: auto;

    h4 {
      margin-bottom: 0;
    }
  }
}

.dropdown {
  position: relative;
  text-align: center;
  margin-top: 1rem;
  border-radius: 0.5rem;
  max-width: 100%;
}

.dropdown-menu {
  color: $light-dark;
  font-weight: bold;
  background: transparent;
  line-height: 1.62;
  cursor: pointer;
  text-align: left;
  -webkit-tap-highlight-color: transparent;

  &__header {
    width: 100%;
    display: inline-flex;
   
    svg {
      margin-left:  auto;
    }
  }

  &__wrapper {
    display: block;
    margin: 0;
    padding: 0;
    transform: translateY(-1rem);
    visibility: hidden;
    transition: visibility 0s, transform 0.5s ease-out, max-height 0.4s ease-out, opacity 0.2s,
      -webkit-transform 0.5s ease-out;

    &.is-unfolded {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      z-index: 1;
    }
  }

  &__item {
    color: $white;
    padding: 0.3rem 0.5rem;
    font-weight: 400;
    list-style-type: none;

    h5 {
      margin: 1px;
    }
  }
}
