.cta-btn {
  font-size: 0.75rem;
  border-radius: 6.25rem;
  border: none;
  box-sizing: border-box;
  padding: 0.5rem 1.25rem;
  margin: 0.5rem 1rem 0.5rem 0;
  display: inline-block;
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.application {
  h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #8ba0a9;
  }

  input {
    color: #fff;
    font-weight: 700;
    background-color: #00151d;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    box-sizing: border-box;
    width: 85%;
    border: none;
    border-bottom: 1px solid #8ba0a9;

    &:hover {
      border-bottom: 1px solid $primary;
    }

    &:focus {
      border-bottom: 1px solid $primary;
      outline: none;
    }
  }

  &__form-input {
    margin-top: 1rem;
    max-width: 100%;
    overflow: hidden;
  }
}

.menu {
  position: relative;
  width: 85%;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;

  &.is-unfolded h4 {
    color: $primary;
  }

  &:hover {
    background-color: #1b3d4b;
  }
}

.dropdown-menu {
  color: $light-dark;
  padding: 1rem;
  align-items: center;
  font-weight: bold;
  background: transparent;
  border: none;
  vertical-align: text-bottom;
  line-height: 1.62;

  cursor: pointer;
  text-align: left;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    display: block;
    margin: 0;
    padding: 0;
  }

  &__item {
    color: $white;
    padding: 0.5rem 1rem;
    font-weight: 400;
    background: transparent;
    border: none;
    vertical-align: text-bottom;
    list-style-type: none;
    line-height: 1.62;
    width: 100%;
    text-align: left;
  }
}
