.typesContainer {
  display: flex;
  justify-content: center;
}

.gameTypeBtn {
  display: flex;
  align-items: center;
  width: 45%;
  height: 50px;

  & > :first-child {
    padding-right: 10px;
  }
}
