.typesContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.gameTypeBtn {
  display: flex;
  align-items: center;
  height: 50px;

  & > :first-child {
    padding-right: 10px;
  }
}
