.popup {
  &__inner {
    border-radius: 50%;
    animation: border 3s infinite;
    width: 250px;
    height: 250px;
    margin: auto;

    text-align: center;

    svg {
      margin-bottom: 40px;
    }
  }

  &__revange {
    position: fixed;
    width: 100%;
    height: 75px;
    bottom: 0;
    left: 0;

    &-inner {
      display: flex;
      justify-content: flex-end;
      padding: 20px;
    }

    h3 {
      color: $primary;
      margin: 0;
      margin-left: 10px;
      line-height: 2;
    }
  }
}

@keyframes border {
  0% {
    border: 25px solid $primary;
  }
  50% {
    border: 25px solid $black;
  }
  100% {
    border: 25px solid $primary;
  }
}

.orange {
  color: $primary;
}
