.container {
  display: flex;
  height: 100px;
  justify-content: center;
  &--radio {
    justify-content: space-around;
  }
}

.menu {
  display: flex;
  width: 20%;
  margin: auto;
  padding: 20px 0px;
  border: 1px orangered solid;
  align-items: center;
  justify-content: center;
}

.header {
  background-image: url("../images/logo-vincentro.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70%;
  margin-top: 20px;
}

// Custom RadioButtons

.label {
  width: 40%;
  border: 1px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input--radio {
  display: none;
}

.checkmark {
  display: inline-block;
  background-size: 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 0;

  &--true {
    background-image: url("../images/counter-3.png");
  }
  &--false {
    background-image: url("../images/counter-0.png");
  }
}
