.container--names {
  display: flex;
  height: 20px;
  justify-content: space-between;
  font-size: 25px;
}
.box {
  height: auto;
  &-s {
    height: 26px;
  }
}

.totalScore {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 25px;
  border-bottom: 1px orangered solid;
  &--1 {
    text-align: end;
  }
  &--2 {
    text-align: start;
  }
}

.turn {
  background-color: orangered;
}
