.container {
  width: 100%;
  // padding: 30px;
  &-name {
    display: flex;
  }

  &-l {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    font-size: 20px;

    &--absolute {
      position: absolute;
      width: 100%;
      top: 22px;
      font-size: 24px;
      justify-content: space-around;
    }
  }

  &-m {
    text-align: center;

    &--turn {
      margin-top: 30px;
    }
  }
}

.subtitle {
  width: 300px;
}

.box {
  &-m {
    width: 100%;
    text-align: center;
  }
}

// Form

input:focus {
  outline-offset: 0;
}

.form-501 {
  display: flex;
  width: 100%;
  & input {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}

.addScore {
  font-size: 20px;
  font-weight: 300;

  &:focus {
    outline-offset: 0;
  }
}

.button__official {
  font-size: inherit;
  width: inherit;
}

.stats {
  position: fixed;
  bottom: 70px;
  font-size: 18px;
}

.finish {
  width: 100%;
  max-width: 170px;
  border: 1px solid salmon;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 20px;
  background-color: white;
}
