.btn {
  &-active {
    background-color: $primary;
    color: $white;
  }

  &-inActive {
    background-color: $darker;
    color: $midtone;
  }

  &-addPlayer {
    margin: auto 16px;
    margin-bottom: 1rem;
    display: flex;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    height: 65px;
    border: 1px dashed $primary;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: auto;
      margin-left: 0;
    }
  }

  &-player {
    background-color: $darkest;
    margin: auto 16px;
    margin-bottom: 1rem;
    display: flex;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    height: 65px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-bottom: 0px;
    }
    
    h2, h4 {
      margin: 0
    }
  }
}

.radio-btn {
  &-inActive {
    fill: $darker;
  }
}

.home-btn {
  width: 35px;
  height: 35px;
  margin: 10px;
  
  &__nav {
    background-color: $black;
  }
}
