* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: $black;
}

i {
  display: block;
  font-style: normal;
  line-height: 1;
  font-weight: normal;
}

p {
  margin-top: 0;
}

@each $index, $shadow in $shadows {
  .shdw-#{$index} {
    box-shadow: $shadow;
  }
}

//Fixes double scrollbar MS Edge
.tl-edges {
  overflow-y: hidden;
}
