.App {
  background-color: red;
}

.header {
  background-image: url('../images/logo-vincentro.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: orangered;
  height: 82px;

  width: 50%;
  margin: 10% 5px 5% auto;
  text-align: center;
  border-radius: 19px 19px 0px 0px;
}
